*{
  display: flex;
  flex-direction: column;
}

.Card {
  color:red;
  /* border-radius: 40px; */
  border: 3px solid black;
  border-radius: 10px;
  max-width: 300px;
  background-color: aqua;
  justify-content: center;
}
.Card img{
  width: 200px;
  margin: 10px;

  
  /* background-color: aqua; */
}