*{

    background-color: gold;
    color:black;
}
#container{
    text-align: center;
    border: 3px solid black;
    margin: 40px;
    padding: 40px;
}
#Wrong_ANSWER{
    color:red;
}
#Final_score{
    color:rgb(113, 170, 113);
}
#submit{
    background-color: rgb(60, 166, 202);
    border:2px solid black;
}