*{
    padding: 10px;
    margin:-1px;
}
div{
    display: flex;
    flex-direction: column;
}
h1{
    color:aquamarine;
    background-color: red;
    border:2px solid black;
    width: fit-content;
}
h2{
    background-color: red;
    border:2px solid black;
    color:wheat;
    width: fit-content;

}
h3{
    background-color: red;
    border:2px solid black;
    color:blue;
    width: fit-content;

}