
div{
    display: flex;
    /* flex-direction: column-reverse; */
    width: 20px;

}
h1{
    color:black;
    background-color: red;
    border:2px solid black;
 
}
h2{
    background-color: red;
    border:2px solid black;
    color:wheat;


}
h3{
    background-color: red;
    border:2px solid black;
    color:blue;


}
h4{
    color:black;
    background-color: red;
    border:2px solid black;
 
}